cd C:\Users\iitsi\Downloads\backend
echo flask==2.2.2 > requirements.txt
echo flask-cors==3.0.10 >> requirements.txt
echo flask-sqlalchemy==3.0.3 >> requirements.txt
echo pyjwt==2.6.0 >> requirements.txt
echo werkzeug==2.3.8 >> requirements.txt
echo flask-bcrypt==1.0.1 >> requirements.txt
echo gunicorn==20.1.0 >> requirements.txt